<footer class="row py-4 px-5" style="background-color: #335154;">
    <div class="col-3 my-4">
        <a href="">
            <img src="imgs/logo.png" alt="">
        </a>
        <div class="d-flex gap-4 m-3 mb-0">
            <i class="text-danger fa-brands fa-facebook"></i>
            <i class="text-danger fa-brands fa-twitter"></i>
            <i class="text-danger fa-brands fa-square-instagram"></i>
        </div>
    </div>
    <div class="col-3 my-4">
        <h3 class="text-light fs-5 fw-bold">Want To Call With Us?</h3>
        <div class="d-flex align-items-center gap-3">
            <i class="text-danger fa-solid fa-phone"></i>
            <p class="text-light m-0">(+84) 344-750-590</p>
        </div>
    </div>
    <div class="col-3 my-4">
        <h3 class="text-light fs-5 fw-bold">Want To Email With Us?</h3>
        <div class="d-flex gap-3 align-items-center">
            <i class="text-danger fa-solid fa-envelope"></i>
            <p class="text-light m-0">thangnqph28950@fpt.edu.vn</p>
        </div>
    </div>
    <div class="col-3 my-4">
        <h3 class="text-light fs-5 fw-bold">Want To Visit Us?</h3>
        <div class="d-flex gap-3 align-items-center">
            <i class="text-danger fa-sharp fa-solid fa-location-dot"></i>
            <p class="text-light m-0">Trịnh Văn Bô - Hà Nội.</p>
        </div>
    </div>
</footer>