<div class="container">
    <h3 class="text-center my-5 fs-2 fw-bold">Product Managerment</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th>IMG</th>
                <th>COLOR</th>
                <th style="width: 12%;">
                    <button ng-click="checkAdd()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalId">
                        Add
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in data">
                <td>{{ value.id }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.desc }}</td>
                <td>{{ value.price }}</td>
                <td>
                    <img src="{{ value.img }}" class="img-fluid" alt="">
                </td>
                <td>{{ value.color }}</td>
                <td>
                    <button ng-click="show(value.id)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalId">
                        Edit
                    </button>
                    <a ng-click="delete(value.id)" class="btn btn-danger">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal trigger button -->


<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Product</h5>
                    <button ng-click="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="">
                <div class="modal-body">
                    <div class="my-3">
                        <label for="" class="form-label">Name:</label>
                        <input type="text" class="form-control" ng-model="inputValue.name">
                        <small class="text-danger" ng-show="error.name">{{ error.name }}</small>
                    </div>
                    <div class="my-3">
                        <label for="" class="form-label">Description:</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="5" ng-model="inputValue.desc"></textarea>
                        <small class="text-danger" ng-show="error.desc">{{ error.desc }}</small>
                    </div>
                    <div class="my-3">
                        <label for="" class="form-label">Price:</label>
                        <input type="number" class="form-control" ng-model="inputValue.price">
                        <small class="text-danger" ng-show="error.price">{{ error.price }}</small>
                    </div>
                    <div class="my-3">
                        <label for="" class="form-label">Image:</label>
                        <input type="text" class="form-control" ng-model="inputValue.img">
                        <small class="text-danger" ng-show="error.img">{{ error.img }}</small>
                    </div>
                    <div class="my-3">
                        <label for="" class="form-label">Color:</label>
                        <input type="text" class="form-control" ng-model="inputValue.color">
                        <small class="text-danger" ng-show="error.color">{{ error.color }}</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="close()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button ng-show="isCheckedAdd" ng-click="store()" type="button" class="btn btn-primary">Save</button>
                    <button ng-show="isCheckedUpdate" ng-click="update()" type="button" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
</script>