<section class="header__blog py-5 text-center my-5" style="background-color: #335154;">
    <h2 class="fs-1 text-danger fw-bold">Blog us</h2>
    <p class="text-secondary">Home <span class="text-white">/ Blog</span></p>
</section>
<main>
    <div class="row">
        <div class="col-4 border rounded mx-4">
            <div class="px-3 py-5 ">
                <input type="text" class="form-control mb-5" placeholder="Search Post...">
                <div class="card border border-0 border-bottom mb-3">
                    <img class="card-img-top" src="imgs/blog-01.jpg" alt="Title">
                    <div class="card-body">
                    <h4 class="card-title fs-4 fw-semibold">SURVIVE LONG BIKE ROAD TRIPS</h4>
                    <p class="card-text text-secondary opacity-75">21 May, 2022 by Katie</p>
                    </div>
                </div>
                <div class="card border border-0 border-bottom mb-3">
                    <img class="card-img-top" src="imgs/blog-02.jpg" alt="Title">
                    <div class="card-body">
                    <h4 class="card-title fs-4 fw-semibold">HOW DO BICYCLES OPERATE?</h4>
                    <p class="card-text text-secondary opacity-75">28 May, 2022 by Linda</p>
                    </div>
                </div>
                <div class="card border border-0 border-bottom mb-3">
                    <img class="card-img-top" src="imgs/blog-03.jpg" alt="Title">
                    <div class="card-body">
                    <h4 class="card-title fs-4 fw-semibold">A BRIEF HISTORY OF BICYCLING</h4>
                    <p class="card-text text-secondary opacity-75">02 May, 2022 by Megan</p>
                    </div>
                </div>
                <div class="card border border-0 border-bottom">
                    <img class="card-img-top" src="imgs/blog-04.jpg" alt="Title">
                    <div class="card-body">
                    <h4 class="card-title fs-4 fw-semibold">TO BIKE OR NOT TO BIKE</h4>
                    <p class="card-text text-secondary opacity-75">18 May, 2022 by Katie</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_content col-7" style="margin-left: 40px;">
            <div class=" border rounded p-5 mb-5">
                <div class="card border-0">
                    <img class="card-img-top img-fluid" src="imgs/blog-1.jpg" alt="Title">
                    <div class="card-body">
                        <h4 class="card-title fs-3 my-3 fw-semibold">Always Look On The Bright Side Of Life</h4>
                        <p class="card-text fs-6 fw-light">Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam, convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla fermentum…</p>
                        <button class="btn btn-danger px-5 py-3 mt-3">Read More</button>
                    </div>
                </div>
            </div>
            <div class=" border rounded p-5 mt-5">
                <div class="card border-0">
                    <video src="imgs/video.mp4" controls></video>
                    <div class="card-body">
                        <h4 class="card-title fs-3 my-3 fw-semibold">Philosophy As A Science</h4>
                        <p class="card-text fs-6 fw-light">Ut tempus leo sed magna hendrerit, non congue libero blandit. Vestibulum libero diam, convallis in arcu ut, semper vulputate dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae usce luctus fringilla fermentum…</p>
                        <button class="btn btn-danger px-5 py-3 mt-3">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>